# Inject 1password secrets into environment
use_sourceop() {
	if printenv | grep -q "op://"; then
		source <(printenv | grep "op://" | op inject)
	fi
}

# Load .env files, if they exist.
dotenv_if_exists
# Load the .envrc in the parent directoty, if it exists.
source_up_if_exists
# Use the 1Password env injection for secrets references in the environment.
use sourceop
